.forgot-pass h6{
    margin: 0;
    margin-top: 23px;
    width: 100%;
    align-items: center;
    justify-self: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;
    letter-spacing: -0.008em;

    color: #000000;
}