input {
    max-width: 320px;
    max-height: 46px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    background: #F7F8FA;
    border: 1px solid #D9D9DB;
    color: #8A8A8A;
}